html,
body{
    height: auto;
    margin: 0;
}

body{
    text-align: center;
    display: grid;
    gap: 5px;
    justify-items: center;
}

#tile{
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#playerBoard{
    height: 250px;
    width: 250px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#computerBoard{
    width: 250px;
    height: 250px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}